* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  font-size: 12px;
}

body {
  width: 100%;
  height: 100dvh;
  max-height: 100dvh;

  /* background-color: #34495e; */
  background-color: red;
  color: #ecf0f1;

  font-family: Arial, Helvetica, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #2c3e50;
}

a {
  text-decoration: none;
  color: #9b59b6; 

  &:visited {
    color: #9b59b6; 
  }
}

/* Patch to align icons vertically */
i.fi::before {
  display: block;
}