html {
  --bg0: #010409; 
  --bg1: #0d1117; 

  --text-default: #f0f6fc;
  --text-secondary: #747b83;

  --highlight0: #8957e5;
  --highlight1: #3e84dd;

  --bg-primary: var(--bg0);
  --bg-secondary: var(--bg1);

  --text-highlight: var(--highlight0);
  --border-default: #2f353d;

  --actions-standard-text: var(--text-default);
  --actions-primary-text: var(--highlight0);
}
