html {
  --bg0: #002b36;
  --bg1: #073642; 

  --text-default: #93a1a1; 
  --text-secondary: #586e75; 

  --highlight0: #6c71c4;
  --highlight1: #268bd2;
  --highlight-danger: #dc322f;

  --bg-primary: var(--bg0);
  --bg-secondary: var(--bg1);

  --text-highlight: var(--highlight0);
  --border-default: #586e75; 

  --actions-standard-text: var(--text-default);
  --actions-primary-text: var(--highlight0);
}
